<div id="ckfinder1" style="height: 100%;"></div>


<% content_for :head do %>
  <script>
      $(document).ready(function () {
          CKFinder.widget('ckfinder1', {
              connectorPath: 'https://cdn5.io/ckfinder/core/connector/php/connector.php'
          });
      });
  </script>
<% end %>

<% content_for :title, "File Manager" %>

<% content_for :breadcrumbs do %>
  <li class="active">File Manager</li>
<% end %>
